<footer class="panel--centered" role="contentinfo">
  <div class="grid">
    <div class="centered grid__col--6">
    	<img class="img--avatar" src="https://scontent-lhr3-1.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/11218985_10206215273693892_2074984393686896067_n.jpg?oh=269cd548a5a970be2b97c5f6481d5be9&oe=56DA267E">
      <p>{{ site.description }} <br>
        Follow <a href="https://twitter.com/{{ site.twitter_username }}">@{{ site.twitter_username }}</a> or
        subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>
      </p>
    </div>
  </div>
</footer>
